
[defaults]
inventory_file = myinventory.file
remote_user = ec2-user
private_key_file = ~/.ssh/7d44key.pem


[inventory]

[privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

[ssh_connection]
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
ssh_args = "-F ssh.cfg"

