#
# Example ssh.cfg for jumphost
# Change User and IdentityFile(s) as necessary
#

Host bastion 
  Hostname bastion.7d44.example.opentlc.com
  User dglaser-redhat.com

Host *.internal
  User ec2-user
  ProxyJump bastion

Match User dglaser-redhat.com
  IdentityFile ~/.ssh/id_rsa

Match User ec2-user
  IdentityFile ~/.ssh/7d44key.pem

Host *
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no
